DUNE_API_KEY=your_dune_api_key_here
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/xxx/xxx

# Frontend Volumes Report
DUNE_API_KEY_FRONTEND=your_dune_api_key_here
SLACK_WEBHOOK_FRONTEND=https://hooks.slack.com/services/xxx/xxx/xxx
